* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(255, 253, 243);
    font-family: system-ui, sans-serif;
    /* Ensures full height compatibility across devices */
    min-height: 100dvh;
  }

#content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-top: 30px;
}

#content p {
    font-size: 18px;
}

input[type=text] {
    padding: 10px 0px;
    max-width: 150px;
    font-size: 16px;
    text-align: center;
}

input[type=text]:focus {
    padding: 10px 0px;
    border: 1px solid #555;
}

input[type=submit] {
    padding: 6px 15px;
}
    
form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

#display {
    margin: 5px 60px;
    text-align: center;
}