* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(255, 255, 255);
    font-family: system-ui, sans-serif;
    /* Ensures full height compatibility across devices */
    min-height: 100dvh;
    letter-spacing: .078rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

@media (max-width: 550px) {
    #content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 30px;
        margin: 4%;
        padding: 4% 2%;
        width: 90%;
    }
  }

@media (min-width: 551px) {
    #content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 30px;
        margin: 4%;
        padding: 2% 0;
        width: 100%;
        max-width: 450px;
    }
}

#content {
    border-radius: 6px;
    background-color: rgb(216, 49, 49);
    color: rgb(244, 235, 167);
    border: 2px solid rgb(255, 145, 145);
}

p {
    font-size: 1rem;
}

h1 {
    font-size: 1.4rem;
}

input[type=text] {
    font-family: system-ui, sans-serif;
    letter-spacing: .1rem;
    padding: 10px 0px;
    max-width: 150px;
    font-size: 16px;
    text-align: center;
    border: 1px solid rgb(251, 221, 165);
    border-radius: 4px;
}

input[type=submit] {
    font-family: system-ui, sans-serif;
    padding: 6px 15px;
    letter-spacing: .06rem;
    border-radius: 3px;
    background-color: rgb(239, 211, 161);
    border: 1px solid rgb(255, 145, 145);
    color: rgb(216, 49, 49);
}

input[type=submit]:hover {
    background-color: rgb(244, 235, 167);
    border: 1px solid rgb(239, 211, 161);
    color: rgb(219, 19, 19);
    cursor: pointer;
}
    
form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

#display {
    margin: 1% 5%;
    text-align: center;
}